/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
	--black-color: #1a1a1a;
	--white-color: #ffffff;
	--main-color: #0b84b8;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}

img {
	width: 100%;
	height: auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

pre {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	transition: color 0.2s ease;
	display: block;
}

p {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

/* Common styles */

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

h1,
h2 {
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
	font-size: 22px;
}

/* Header styles */

.header {
	background-color: var(--main-color);
	margin-bottom: 50px;
	color: var(--white-color);
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
}

.header__title {
	font-size: 26px;
	line-height: 1em;
	letter-spacing: 7px;
}

.nav__list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
}

.nav__link {
	padding: 0 10px;
	line-height: 50px;
	transition: opacity 0.2s ease;
}

.nav__link:hover,
.nav__link:focus {
	opacity: 0.7;
}

/* Hero styles */

.hero {
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 100px;
}

.hero__avatar {
	max-width: 250px;
	padding: 0;
}

.hero__avatar-img {
	border-radius: 25%;
}

.hero__title {
	color: var(--main-color);
}

.hero::after {
	content: '';
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
	height: 0.5em;
	border-top: 5px solid var(--main-color);
}

/* Main styles */

.main {
	margin-bottom: 50px;
}

.main__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* grid-template-rows: repeat(4, ); */
	gap: 40px;
}

.section__title {
	margin-bottom: 20px;
	font-size: 20px;
	letter-spacing: 5px;
	opacity: 0.7;
}

.section__content {
	max-width: 70%;
	margin-left: 30px;
}
.section__inside {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.section__link {
	color: #256785;
	transition: opacity 0.2s ease;
}
.section__link:hover,
.section__link:focus {
	opacity: 0.75;
}

.section__sub-title {
	font-size: 18px;
	font-weight: 700;
	opacity: 0.5;
}

.section__sub-title:not(:first-child) {
	margin-top: 15px;
}

.section__sub-desc {
	opacity: 0.9;
}

/* Contacts styles */

.contacts__item {
	display: flex;
	align-items: center;
	gap: 5px;
}

.contacts__link {
	color: #256785;
	transition: opacity 0.2s ease;
}
.contacts__link:hover,
.contacts__link:focus {
	opacity: 0.75;
}

/* About styles */

/* Skills styles */

/* Code styles */

.code__code {
	display: block;
	color: var(--white-color);
	background-color: var(--main-color);
	padding: 5px;
	border-radius: 5px;
	max-width: fit-content;
}

/* Work styles */

/* Projects styles */

/* Footer styles */

.footer {
	color: var(--white-color);
	background-color: var(--main-color);
}

.footer__container {
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
.footer__link {
	display: block;
	max-width: 50px;
	line-height: 1.2;
	transition: opacity 0.2s ease;
}

.footer__link:hover,
.footer__link:focus {
	opacity: 0.7;
}

.footer__link-img {
	background-color: yellow;
	padding: 2px;
}

.footer__logo-link {
	width: 100%;
}

@media (max-width: 1160px) {
	.header__wrapper {
		justify-content: center;
	}
	.header__nav {
		display: none;
	}
	.header__title {
		padding: 12px;
	}
}

@media (max-width: 860px) {
	.main__grid {
		display: flex;
		flex-direction: column;
	}
	.hero {
		flex-direction: column;
		gap: 25px;
	}
}
